//
// Notes to End Users.
//
// The workflow should run without editing this configuration file,
// however there may be instances in which you wish to edit this
// file for compute performance or other reasons. Please see:
//
//   https://nextflow.io/docs/latest/config.html#configuration
//
// for further help editing this file.


params {
    help = false
    fastq = null
    outdir = "output"
    wfversion = "v0.1.1"
    // Standard mito genome and shifted - stored in github
    shift_back_chain = "$baseDir/data/ShiftBack.chain"
    mito_fasta = "$baseDir/data/Homo_sapiens_assembly38.chrM.fasta"
    mito_dict = "$baseDir/data/Homo_sapiens_assembly38.chrM.dict"
    mito_index = "$baseDir/data/Homo_sapiens_assembly38.chrM.fasta.fai"
    mito_amb = "$baseDir/data/Homo_sapiens_assembly38.chrM.fasta.amb"
    mito_ann = "$baseDir/data/Homo_sapiens_assembly38.chrM.fasta.ann"
    mito_bwt = "$baseDir/data/Homo_sapiens_assembly38.chrM.fasta.bwt"
    mito_sa = "$baseDir/data/Homo_sapiens_assembly38.chrM.fasta.sa"
    mito_pac = "$baseDir/data/Homo_sapiens_assembly38.chrM.fasta.pac"
    shifted_fasta = "$baseDir/data/Homo_sapiens_assembly38.chrM.shifted_by_8000_bases.fasta"
    shifted_dict = "$baseDir/data/Homo_sapiens_assembly38.chrM.shifted_by_8000_bases.dict"
    shifted_index = "$baseDir/data/Homo_sapiens_assembly38.chrM.shifted_by_8000_bases.fasta.fai"
    shifted_amb = "$baseDir/data/Homo_sapiens_assembly38.chrM.shifted_by_8000_bases.fasta.amb"
    shifted_ann = "$baseDir/data/Homo_sapiens_assembly38.chrM.shifted_by_8000_bases.fasta.ann"
    shifted_bwt = "$baseDir/data/Homo_sapiens_assembly38.chrM.shifted_by_8000_bases.fasta.bwt"
    shifted_sa = "$baseDir/data/Homo_sapiens_assembly38.chrM.shifted_by_8000_bases.fasta.sa"
    shifted_pac = "$baseDir/data/Homo_sapiens_assembly38.chrM.shifted_by_8000_bases.fasta.pac"
    mito_fake_alt = "$baseDir/data/mito_fake_alt_contig.alt"
    // Blacklist sites
    blacklist = "$baseDir/data/blacklist_sites.hg38.chrM.bed"
    blacklist_index = "$baseDir/data/blacklist_sites.hg38.chrM.bed.idx"

    // Output config
    publish_dir_mode = 'copy'
}


executor {
    $local {
        cpus = 8
        memory = "16 GB"
        queueSize = 2
    }
}

profiles {
    // the "standard" profile is used implicitely by nextflow
    // if no other profile is given on the CLI
    standard {
        docker {
            enabled = true
            // this ensures container is run as host user and group, but
            //    also adds host user to the within-container group
            runOptions = "--user \$(id -u):\$(id -g) --group-add 100"
        }
        process {
            withLabel:mtdnaserver {
                container = "us.gcr.io/broad-dsde-methods/haplochecker:haplochecker-0124"
                cpus = 2
                memory = 3.GB
            }
            withLabel:human_mito {
                container = "taniguti/wf-human-mito:${params.wfversion}"
                cpus = 4
                memory = 5.GB
            }
            withLabel:human_mito_mutect {
                container = "taniguti/wf-human-mito:${params.wfversion}"
                cpus = 4
                memory = 5.GB
            }
            shell = ['/bin/bash', '-euo', 'pipefail']
        }
    }

    singularity {
        singularity {
            enabled = true
            autoMounts = true
        }
        process {
            withLabel:mtdnaserver {
                container = "us.gcr.io/broad-dsde-methods/haplochecker:haplochecker-0124"
                cpus = 2
                memory = 3.GB
            }
            withLabel:human_mito {
                container = "taniguti/wf-human-mito:${params.wfversion}"
                cpus = 4
                memory = 5.GB
            }
            withLabel:human_mito_mutect {
                container = "taniguti/wf-human-mito:${params.wfversion}"
                cpus = 2
                memory = 2.GB
            }
            shell = ['/bin/bash', '-euo', 'pipefail']
            executor = "slurm"
        }
    }

    test {
        docker {
            enabled = true
            runOptions = "--user \$(id -u):\$(id -g) --group-add 100"
        }
        process {
            withLabel:mtdnaserver {
                container = "us.gcr.io/broad-dsde-methods/haplochecker:haplochecker-0124"
                cpus = 2
                memory = 3.GB
            }
            withLabel:human_mito {
                container = "taniguti/wf-human-mito:${params.wfversion}"
                cpus = 2
                memory = 3.GB
            }
            withLabel:human_mito_mutect {
                container = "taniguti/wf-human-mito:${params.wfversion}"
                cpus = 2
                memory = 3.GB
            }
            shell = ['/bin/bash', '-euo', 'pipefail']
        }
        includeConfig 'test.config'
    }

}


// Load modules.config for DSL2 module specific options
includeConfig 'conf/modules.config'

timeline {
    enabled = true
    file = "${params.outdir}/execution/timeline.html"
}
report {
    enabled = true
    file = "${params.outdir}/execution/report.html"
}
trace {
    enabled = true
    file = "${params.outdir}/execution/trace.txt"
}
dag {
    enabled = true
    file = "${params.outdir}/execution/pipeline.svg"
}
