params {
    config_profile_name        = 'Test profile for CI'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = 3.GB
    max_time   = 2.h
}

timeline {
    overwrite = true
}

dag {
    overwrite = true
}