params {
    genome {
        // Standard mito genome and shifted - stored in github
        shift_back_chain = "$baseDir/data/ShiftBack.chain"
        mito_fasta       = "$baseDir/data/Homo_sapiens_assembly38.chrM.fasta"
        mito_dict        = "$baseDir/data/Homo_sapiens_assembly38.chrM.dict"
        mito_index       = "$baseDir/data/Homo_sapiens_assembly38.chrM.fasta.fai"
        mito_amb         = "$baseDir/data/Homo_sapiens_assembly38.chrM.fasta.amb"
        mito_ann         = "$baseDir/data/Homo_sapiens_assembly38.chrM.fasta.ann"
        mito_bwt         = "$baseDir/data/Homo_sapiens_assembly38.chrM.fasta.bwt"
        mito_sa          = "$baseDir/data/Homo_sapiens_assembly38.chrM.fasta.sa"
        mito_pac         = "$baseDir/data/Homo_sapiens_assembly38.chrM.fasta.pac"
        mito_intervals   = "$baseDir/data/Homo_sapiens_assembly38.chrM.interval_list"
        shifted_fasta    = "$baseDir/data/Homo_sapiens_assembly38.chrM.shifted_by_8000_bases.fasta"
        shifted_dict     = "$baseDir/data/Homo_sapiens_assembly38.chrM.shifted_by_8000_bases.dict"
        shifted_index    = "$baseDir/data/Homo_sapiens_assembly38.chrM.shifted_by_8000_bases.fasta.fai"
        shifted_amb      = "$baseDir/data/Homo_sapiens_assembly38.chrM.shifted_by_8000_bases.fasta.amb"
        shifted_ann      = "$baseDir/data/Homo_sapiens_assembly38.chrM.shifted_by_8000_bases.fasta.ann"
        shifted_bwt      = "$baseDir/data/Homo_sapiens_assembly38.chrM.shifted_by_8000_bases.fasta.bwt"
        shifted_sa       = "$baseDir/data/Homo_sapiens_assembly38.chrM.shifted_by_8000_bases.fasta.sa"
        shifted_pac      = "$baseDir/data/Homo_sapiens_assembly38.chrM.shifted_by_8000_bases.fasta.pac"
        shifted_interval = "$baseDir/data/Homo_sapiens_assembly38.chrM.shifted_by_8000_bases.interval_list"
        mito_fake_alt    = "$baseDir/data/mito_fake_alt_contig.alt"
        gb_ref           = "$baseDir/data/NC_012920.1.gb"
        // Blacklist sites
        blacklist       = "$baseDir/data/blacklist_sites.hg38.chrM.bed"
        blacklist_index = "$baseDir/data/blacklist_sites.hg38.chrM.bed.idx"
    }
}
